.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1.5rem;
}

.label {
  font-family: var(--font-geist-sans), sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--text-main);
}

.input {
  width: 100%;
  background-color: var(--bg-card);
  color: var(--text-main);
  font-family: var(--font-geist-sans), sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 4px solid #000000;
  transition: background-color 0.2s ease;
}

.input:focus {
  outline: none;
  background-color: var(--bg-main);
}

.inputError {
  border-color: var(--error) !important;
  background-color: #ffdad6;
}

.errorText {
  color: var(--error);
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 2px;
}
