.sidebarContainer {
  width: 16rem; /* 64px * 4 = 256px */
  background-color: #111827; /* gray-900 - usually sidebar stays dark */
  color: #ffffff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

/* Sembunyikan sidebar di mobile secara default */
.hidden {
  transform: translateX(-100%);
}

/* Tampilkan sidebar */
.visible {
  transform: translateX(0);
}

.header {
  padding: 1.5rem;
  border-bottom: 1px solid #1f2937;
}

.nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: block;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: #9ca3af;
  transition: all 0.2s;
}

.link:hover {
  background-color: #1f2937;
  color: #ffffff;
}

.activeLink {
  background-color: var(--primary); 
  color: #ffffff;
  border-left: 4px solid var(--primary-hovernt);
}

.footer {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

.backBtn {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #374151;
  color: white;
  border-radius: var(--radius-sm);
  text-align: center;
  text-decoration: none;
  transition: background 0.2s;
}

.backBtn:hover {
  background-color: #4b5563;
}

/* Tombol Toggle Mobile */
.toggleBtn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 50;
  padding: 0.5rem;
  background: #111827;
  color: white;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

/* Desktop Styles */
@media (min-width: 768px) {
  .sidebarContainer {
    position: sticky;
    transform: translateX(0) !important;
  }

  .toggleBtn,
  .overlay {
    display: none;
  }
}

.logoutBtn {
  border: none;
  display: block;
  margin: 10px 1.5rem;
  padding: 0.75rem;
  background-color: var(--error);
  color: white;
  border-radius: var(--radius-sm);
  text-align: center;
  text-decoration: none;
  transition: background 0.2s;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #dc2626;
}
